title: "Advanced Configuration"
type: "object"
properties:
  required: [
    "lightNumber"
    "apiUsername"
  ]
  options:
    title: "Options"
    type: "object"
    properties:
      lightNumber:
        title: "Light Number"
        type: "integer"
        default: 0
        minimum: 0
      ipAddress:
        title: "Bridge IP Address"
        type: "string"
      apiUsername:
        title: "API Username"
        type: "string"
        default: "newdeveloper"
  desiredState:
    title: "Desired State"
    type: "object"
    properties:
      color:
        title: "Color"
        type: "string"
      on:
        title: "Light On"
        type: "boolean"
      transitiontime:
        title: "Transition Time (in milliseconds)"
        type: "integer"
        minimum: 0
      alert:
        title: "Alert Effect"
        type: "string"
      effect:
        title: "Dynamic Effect"
        type: "string"
