title: "Advanced Configuration"
type: "object"
properties:
  required: [
    "ipAddress"
    "lightNumber"
    "lightPollInterval"
    "sensorName"
    "sensorPollInterval"
  ]
  options:
    title: "Options"
    type: "object"
    properties:
      ipAddress:
        title: "Bridge IP Address"
        type:  "string"
      lightNumber:
        title: "Light Number"
        type: "integer"
        default: 0
        minimum: 0
      lightPollInterval:
        type: "integer"
        minimum: 500
        default: 30000
      sensorName:
        type: "string"
        default: "Hue Tap 1"
      sensorPollInterval:
        type: "integer"
        minimum: 500
        default: 5000
  desiredState:
    title: "Desired State"
    type: "object"
    properties:
      color:
        title: "Color"
        type: "string"
